manifest {
    description = 'Runs a Comet search followed by TPP analysis'
    author = 'Patrick Pedrioli'
}

params {

    help = false
    dda_folder = 'Data/DDA'
    hcd_activation = '@hcd35'
    hcd_min_diagnostic_match = '0'
    hcd_params = '--remove_diagnostic_ions' // Additional params for ADPhilterMain.py HCD selection
    etd_activation = '@etd'
    etd_min_diagnostic_match = '0'
    etd_params = '' // Additional params for ADPhilterMain.py ETD selection

}

process{
    withName:adphilterHcd {
	container = 'scimamma/adphilter:1.0'
    }
    withName:adphilterEtd {
        container = 'scimamma/adphilter:1.0'
    }
}

docker {
    enabled = true
    sudo = true
    runOptions = '-e LOCAL_USER_ID=$(id -u) -u $(id -u):$(id -g)'
}

executor {
     name = 'local'
}
